
<main class="main">
    <div class="container">
      <form [formGroup]="loginForm" (submit)="login()">
                <div class="row">
            <h4>Welcome Back</h4>
            <div class="input-group input-group-icon">
              <input name=email type="email" placeholder="Email Address" formControlName="email" >
                <div class="input-icon">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
            </div>
          </div>

        <div class="input-group input-group-icon">
          <input id=password type="password" placeholder="Password (INACTIVE)"formControlName="password" readonly>
          <a class="forgot-password"><p id="forgot-password" >Forgot Password?</p></a>
          <div class="input-icon">
            <i class="fa fa-key" aria-hidden="true"></i>
          </div>
        </div>
        
          <div class="row">
            <div class="input-group">
              <input id="keep" type="checkbox" formControlName="password">
              <label for="keep">Keep me logged in</label>
            </div>
          </div>

          <div class="row">
            <div class="input-group">
                <input id="submitButton" type="submit" value="LOGIN" routerLink="/">
            </div>
        </div>
    </form>

        <div class="row">
          <div class="input-group input-group-icon">
              <p id="no-account">Don't have an account?<a class="register"><b routerLink="/register"> Register for one here.</b></a></p>
            <div class="input-icon">
              <i></i>
            </div>
          </div>
        </div>
  </div>
</main>