<main class="main">
  <br>
  <section id="hero" class="hero section">
    <button class="login-button" routerLink="/login">Login</button> or 
    <h1>Choose an Asset Calculator</h1>
    <br><br>
    <div class="container">
      <div class="icon-box-container">
        <div class="icon-box" routerLink="/mortgage">
          <div class="icon"><i class="fas fa-house"></i></div>
          <h4 class="title"><a href="">Mortgage</a></h4>
          <p class="description">Turn your mortgage loan into profit</p>
        </div>
        <div class="icon-box" routerLink="/strategies">
          <div class="icon"><i class="fa fa-usd" aria-hidden="true"></i></div>
          <h4 class="title"><a href="">Roth IRA</a></h4>
          <p class="description">Retire a literal millionaire</p>
        </div>
        <div class="icon-box" routerLink="/strategies">
          <div class="icon"><i class="fas fa-car"></i></div>
          <h4 class="title"><a href="">Auto</a></h4>
          <p class="description">Profit off of your auto loan</p>
        </div>
      </div>
      <br><br>
      <div class="icon-box-container">
        <div class="icon-box" routerLink="/strategies">
          <div class="icon"><i class="fa fa-level-up" aria-hidden="true"></i></div>
          <h4 class="title"><a href="">Credit Score</a></h4>
          <p class="description">Level up to an 850 credit score</p>
        </div>
        <div class="icon-box" routerLink="/strategies">
          <div class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
          <h4 class="title"><a href="">Student Loan</a></h4>
          <p class="description">Efficiently conquer college debt</p>
        </div>
        <div class="icon-box" routerLink="/strategies">
          <div class="icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></div>
          <h4 class="title"><a href="">Credit Card</a></h4>
          <p class="description">Credit like the rich</p>
        </div>
      </div>
    </div>
  </section>
  <br><br>
</main>
